[2018-04-21 22:06] Insomniiak opened #1 "[Event] Delete Event"

[2018-04-21 22:38] Insomniiak opened #2 "[Event] Modify Event"

[2018-04-21 22:39] Insomniiak opened #3 "[Event] Delete Current Event"

[2018-04-22 16:00] Insomniiak opened #4 "[Tests] Jest for testing"

[2018-05-19 12:02] Strat1987 opened #9 "Fails to minify using create-react-app"
Dear,
While trying to use your API I stumble across following issue when performing yarn build:

Failed to minify the code from this file:

 	./node_modules/react-google-calendar-api/ApiCalendar.js:2

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

Thanks in advance!

[2018-05-21 09:45] Insomniiak commented on #9
Hi,
Yeah, I think this is because I published ES6 Code, I will fix this issue soon, when I find the Time to work a little bit on it.
Thanks you for the Feedback

Cordialement
Aymeric Beudaert
________________________________
From: Strat1987 <notifications@github.com>
Sent: Saturday, May 19, 2018 2:02:55 PM
To: Insomniiak/react-google-calendar-api
Cc: Subscribed
Subject: [Insomniiak/react-google-ca

[2018-05-30 03:57] starcraft0429 opened #11 "can't find apiGoogleconfig.json in ubuntu server"
[code]

It think, it will be better if we set config by importing.
Automated resolving config might be problem.

I found some issue...
In my local windows machine, your package didn't build and run directly.
Btw in the ubuntu server node_modules/react-google-calendar-api/ I found ./build directory, so that your built package didn't know config json file path since directory level is changed.

Than

[2018-05-31 13:06] Insomniiak commented on #11
Hi, Yeah I see
Hmm maybe I should do an automated resolution Path because now this is hard coded in the import with "../../apiGoogleconfig.json"
Didn't thought about build configuration, I will change the hard coded Path, with "../../../apiGoogleconfig.json" temporary. And when I will find the time will do an automated Pathfinding

But if you want to contribute and do this you are welcome.
Thanks

[2018-05-31 13:15] Insomniiak commented on #9
@Strat1987 Is this solved for you?

[2018-05-31 14:05] Insomniiak commented on #9
Issue solved normally

[2018-05-31 14:05] #9 closed

[2018-05-31 14:06] Insomniiak commented on #11
@starcraft0429 I fixed it temporary and tested it, now you can use it on your server.
I'm closing the issue if you have other problems or if this isn't working I'm here.

[2018-05-31 14:06] #11 closed

[2018-05-31 14:32] starcraft0429 commented on #11
Thanks @Insomniiak

[2018-06-01 11:26] starcraft0429 opened #12 "Acl and CalendarList, Calendars api"
Is there full APIs for this page?
https://developers.google.com/calendar/v3/reference/

[2018-06-01 23:43] Insomniiak commented on #12
No, I never found one, this is why I created this one.
But I need to implement more features, I just need to find some time.

If you want to implement some, this is pretty easy, and would be great to have one more contributor.

[2018-06-01 23:58] Insomniiak commented on #12
Here are all Api call than can be made with gapi.
https://developers.google.com/apis-explorer/#search/calendar/calendar/v3/

We just need to wrap them into Js methods. If you want to contribute look how I implemented Create Event, ListEvent etc..

[2018-06-04 13:14] #12 closed

[2018-10-21 14:46] Insomniiak opened #13 "[Test] Change Testing for Travis"

[2018-12-03 23:39] matoslucas opened #17 "handleAuthClick is not working on mobile browsers"
handleAuthClick it is not working on mobile browser, due the popup window

[2018-12-04 08:34] Insomniiak commented on #17
Hi,
I never tried on mobile so yes maybe,
I will not be able to fix it soon but if you want to contribute, the easiest way is to open a webview for the Auth, you are welcome.
And sorry for this

[2019-01-14 16:06] marcoseoane opened #18 "Is it possible to use listUpcomingEvents function from a different page/component"
When I call listUpcomingEvents from the same component in my app that I actioned the handleAuthClick method it works, but when I attempt to call this function from another page it tells me 'this.gapi is not loaded" & that the listUpcomingEvents is not a function?

Is there a way to authenticate from one component/page in my app and call listUpcomingEvents from a different one?

Just to provide som

[2019-01-14 16:17] Insomniiak commented on #18
Normally, yes
Will check this in few minutes,
Your component(react-google-calendar-api) need to be instanced at the start of your app and never be destroy

Aymeric

[2019-01-14 16:19] marcoseoane commented on #18
Thanks, if there is anything else I can provide to help please let me know

[2019-01-14 16:42] Insomniiak commented on #18
Do you create the ApiCalendar component on your main Page/Application?

[2019-01-14 16:48] marcoseoane commented on #18
Not sure if i'm 'creating' it on my main page maybe thats a step i'm missing, but what I'm doing currently is importing the package in my index.js file which handles all of the react-router stuff and pass the ApiCalendar down as a prop to the two pages/components that I want to authenticate from & call the listUpcomingEvents function from.

[2019-01-14 16:53] Insomniiak commented on #18
Ok seems good so,
Can you show me the code for the router?

[2019-01-14 16:57] marcoseoane commented on #18
import React from "react";
import ReactDOM from "react-dom";
import { unregister } from "./registerServiceWorker";
import { Provider } from "react-redux";
import { ConnectedRouter } from "react-router-redux";
import { Route, Switch } from "react-router";

import { createStore, applyMiddleware } from "redux";
import { createBrowserHistory } from "history";
import { routerMiddleware } from "react-ro

[2019-01-14 16:59] marcoseoane commented on #18
here you go, I left out a long list of imports so thats not clogging up the comment but heres everything from the import of your package downwards

import ApiCalendar from 'react-google-calendar-api'

const history = createBrowserHistory();

const trackPageView = location => {
  ReactGA.set({ page: location.pathname });
  ReactGA.pageview(location.pathname);
};

const initGa = history => {
  React

[2019-01-14 17:09] Insomniiak commented on #18
Can you print ApiCalendar.gapi in both components?

[2019-01-15 10:49] #18 closed

[2019-06-01 11:29] carlmagumpara opened #19 "Authentication Callback"
Please add call back for authentication.

Ex:
ApiCalendar.handleAuthClick()
.then((result) => {
   console.log(result);
}).catch((error) => {
   console.log(error);
});

[2019-06-02 11:38] Insomniiak commented on #19
Hi,
Yeah its possible, just need to find the time, will try today.

But if you want to make a contribution you can, Just transform:
[code]

[2019-06-03 13:38] carlmagumpara commented on #19
Hi, can i be a contributor?

[2019-06-03 13:41] Insomniiak commented on #19
Yeah, sure, just create a Pull Request, and assign me in Review when its done.

Thanks

[2019-06-04 17:51] Insomniiak commented on #19
And replace the return function: `void` by `any` or by the real type

[2019-06-20 10:30] Insomniiak commented on #19
@carlmagumpara Any updates?

[2019-07-21 18:41] ChineseOuchie opened #20 "ApiCalendar.sign is always false on first load."
When refresh while logged in, ApiCalendar.sign will return false on reload, but I am already logged in.

I have a login and logout button but on load it will show the login button:

[code]

[2019-07-21 19:37] Insomniiak commented on #20
Are you sure that the ApiCalendar module is loaded when you check ```ApiCalendar.sign``` ?
You can check with ```ApiCalendar.onLoad()``` if the package is loaded

But I recommend you to use ```listenSign``` and ```onLoad```

Exemple:
[code]

[2019-07-22 11:17] ChineseOuchie commented on #20
I added the onLoad and signUpdate but I still have false as first return

[2019-07-22 19:51] Insomniiak commented on #20
I checked a bit your repo,
Can you put the StatusSign component in your main page and check if he is working and updating:
Like:
[code]

[2019-07-22 21:59] #1 closed

[2019-07-22 21:59] #2 closed

[2019-07-22 21:59] #3 closed

[2019-07-22 21:59] #17 closed

[2019-07-23 09:36] ChineseOuchie commented on #20
I moved StatusSign component to my app.js but I still get false. [See repo](https://github.com/ChineseOuchie/Google-Calendar/blob/master/src/App.js)

[2019-07-23 15:20] Insomniiak commented on #20
Ok I will try to build a mini app tonight to see if I got the same problem or not.
Or try on your project directly

[2019-07-23 18:11] Insomniiak commented on #20
You need to use the onLoad method and do nothing before it or update your component when this is loaded.
I'm making a PR on your repo to show you an example.

[2019-07-23 18:40] ChineseOuchie commented on #20
I didn't know how to send the data back to App.js and then to other child components and my solution was putting the check inside App.js and sending the result as props to other child components. While this does the job, I don't know if this is the 'correct' way of doing it. Still thanks for the example you gave me.

[code]

[2019-07-23 18:45] Insomniiak commented on #20
Yes you can use the state to do it, and I'm not an expert in react,
But you can take a look at context to store things like that
[Context](https://reactjs.org/docs/context.html)

[2019-07-26 07:58] #20 closed

[2019-07-29 21:40] aaackerman opened #21 "Upcoming events"
via Google Calendar

[2019-07-29 21:47] #21 closed

[2019-07-29 21:48] Insomniiak commented on #21
Hi, anything in detail?

[2019-11-12 04:51] Insomniiak opened #22 "[Fix] Vulnerabilities"

[2019-11-12 05:05] #22 closed

[2019-11-14 06:23] Yathi opened #28 "ApiCalendar has type `any`"
When trying to import the API Calendar using `import ApiCalendar from 'react-google-calendar-api/ApiCalendar';`, I get the following error:

[code]

I am trying to use the DoubleButton from the example.

[2019-11-24 19:11] sudhamab opened #29 "How do you pass in optional query parameters like sendUpdates?"
hi, as per the docs [https://developers.google.com/calendar/v3/reference/events/insert](url)
in order to notify the guests through email, you can use the sendUpdates parameter.

How does one pass that in react-google-calendar-api ?

The invitees are not receiving an email at the moment.

You can see an example here [https://developers.google.com/calendar/v3/reference/events/insert?apix=true#try-it

[2019-11-27 20:47] #19 closed

[2019-11-27 20:50] Insomniiak commented on #28
Is this working with this import?:
```import ApiCalendar from 'react-google-calendar-api';```

[2019-11-27 21:14] Insomniiak commented on #29
Hi,
You can try:
[code]

But I'm not sure if it will work, I maybe need to make a PR
For adding metadata

[2019-12-03 18:11] sudhamab commented on #29
thanks. yes. you will need to add it from what i understand.

[2019-12-03 20:12] Kubessandra commented on #29
Yes..
And nowadays it will be very hard for me to find times right now, if you want to add it and make a PR it would be awesome!

[2019-12-04 14:27] sudhamab commented on #29
thanks @Kubessandra  will try. By the way, would you have any idea how to make this run inside an electron app?
the `this.gapi.client.init(Config)` does not seem to get called and hence `this.gapi.auth2.getAuthInstance()`
seems to be null.
may be accessing the window variable is not something you can do in electron.

Would be grateful if you can point me to any resource.

[2019-12-04 19:05] Kubessandra commented on #29
https://stackoverflow.com/questions/30681639/how-to-access-browserwindow-javascript-global-from-main-process-in-electron

Its really specific to electron so it will be hard I think

[2019-12-06 01:31] Kubessandra commented on #29
But I can do the sendUpdates if you really need it

[2019-12-18 04:18] #29 closed

[2020-01-22 19:37] Darkty opened #31 "gapi not loaded"
I'm trying to run the example, but i have this error.

ReactNativeJS: Error: this.gapi not loaded

[2020-01-23 00:57] Kubessandra commented on #31
You are trying to use a function when gapi is not loaded yet.
You can use the method `onLoad` to trigger something when gapi is loaded.

[2020-01-23 02:32] Kubessandra commented on #28
No response since a long time I'm closing the issue, contact me again if you got another problem.

[2020-01-23 02:32] #28 closed

[2020-02-03 05:23] #31 closed

[2020-03-30 08:57] Haseeb99 opened #34 "How to use environment variables in apiGoogleconfig.json"
Is there any way to make a JS file for `apiGoogleconfig.json` so environment variables can be loaded (if clientId / apiKey is stored in an env variable).

[2020-03-30 09:32] Kubessandra commented on #34
You can generate it like this, but with the actual version this is not possible you can make a PR and Rename the import to `apiGoogleconfig.json` by `apiGoogleconfig` and submit it and both `json` and `js` files will work.

Here is a script to generate `apiGoogleconfig.json` with env variables.
[code]

[2020-03-31 09:35] #34 closed

[2020-04-30 12:24] PiyushJainQA opened #35 "Patch and Update methods are not included for an existing event"
I am trying to add a conference to an existing event using the patch() method of an event.
As of now the ApiCalendar class only contains createEvent and createEventFromNow.

Plz add patch and update methods for events.

[2020-04-30 12:56] Kubessandra commented on #35
Hi,
Sorry but this week I'm really busy, but if you want to contribute you are welcome
If I find some time I will implement it.

[2020-04-30 19:48] PiyushJainQA commented on #35
@Kubessandra Raised a PR, have a review, Added the function for updating the event's details.
The hangout meet can be added to an event only after the event is inserted, hence this method is mandatory to create hangout meets in any event.

[2020-05-06 08:17] Kubessandra commented on #35
Thanks for the PR, already in Review.
Waiting for some changes and we are good to go

[2020-05-11 10:07] HarishJella opened #37 "Make config reffered to absolute path"
./node_modules/react-google-calendar-api/ApiCalendar.js
Cannot find module: '../../../apiGoogleconfig.json'. Make sure this package is installed.

make it absolute path

[2020-07-10 03:08] Mayank8290 opened #38 "this.gapi not loaded"
I am getting error while trying to ApiCalendar.handleAuthClick()
 Error: this.gapi not loaded

[2020-07-10 08:38] Kubessandra commented on #38
Maybe this will help a bit: #31

[2020-07-10 09:56] Mayank8290 commented on #38
I can't find the onload method , i have a button when the user clicks on this it will call handleAuthClick function, I clicked that button after 5 minutes but still, the same error gapi not loaded.

[2020-07-10 10:00] Mayank8290 commented on #38
i am using react native 0.61.5

[2020-07-10 11:54] Kubessandra commented on #38
### onLoad:

[code]

[2020-07-10 12:45] Mayank8290 commented on #38
The onload has never happened I have waited for 1 hour, it's nor loading, I think there is some problem .

ApiCalendar.onLoad(() => {
            console.log("inside onload");
            //ApiCalendar.listenSign();
        });

[2020-07-28 08:33] Kubessandra commented on #38
Sorry didn't saw your reply,
I never tried on react-native actually

[2020-08-26 17:01] vlad-dewitt commented on #37
../../../apiGoogleconnfig.json. Really? where is it? It's outside the project... what??

[2020-08-26 17:02] vlad-dewitt commented on #37
@Kubessandra ???

[2020-08-26 17:10] Kubessandra commented on #37
@vlad-dewitt I never had the time to implement proper path resolving.

From the README:
Create a file apiGoogleconfig.json in the root directory with your googleApi clientId and ApiKey.
https://console.developers.google.com/flows/enableapi?apiid=calendar.

[code]

[2020-08-26 17:12] vlad-dewitt commented on #37
@Kubessandra, but it says "Cannot find module: '../../../apiGoogleconfig.json'", because this path is outside of project dir

[2020-08-26 17:18] Kubessandra commented on #37
@vlad-dewitt yes unfortunately, this is outside of the project dir.
I'm creating a PR right now to make it at the root dir, I don't know why I made it this way the first time.

[2020-08-26 17:19] vlad-dewitt commented on #37
@Kubessandra, got it. Many thanks!

[2020-08-26 17:36] Kubessandra commented on #37
The problem was in the import `react-google-calendar/ApiCalendar.ts` because the file was using `../../../` and this import was good only in the build directory(`node_modules/react-google-calendar-api/build/ApiCalendar.js`.

This is now fixed, in the version 1.2.0.
But this is always better to use the default import using `import ApiCalendar from 'react-google-calendar-api'`.

@vlad-dewitt Keep me

[2020-08-26 17:38] #38 closed

[2020-08-27 09:39] #37 closed

[2020-09-20 08:17] castynet opened #43 "List upcoming Events"
I'm trying to list the upcoming events like so
[code]
But the response I'm getting is from `http://localhost:3000/[object%20Object]` I'm using React and Javascript and the documentation from the read me seems to be using typescript.
How would I make the request or get the calendar data?

[2020-09-20 09:01] castynet commented on #43
Actually I got a way around that
[code]
Seems to work

[2020-09-20 09:01] #43 closed

[2020-11-16 14:48] dugiwarc opened #44 "Listing past events"
Hello,
How would I go about listing past events from a calendar?
Best wishes,
George.

[2020-11-16 16:43] Kubessandra commented on #44
Hello !

Here is the code to list Upcoming events

[code]
Actually `timeMin` is taking the actual Time.

You can contribute to the project and create a PullRequest and pass timeMin as parameter to the function.

If you have any questions, I'm available.

[2020-11-19 21:25] cdrose15 opened #45 "Send Updates"
I saw a closed issue for Send Updates being added. Did this ever happen?

[2020-11-20 11:19] Kubessandra commented on #45
This never happened

[2020-11-21 15:44] Hjkun77 opened #46 "ApiCalendar any type"
Variable 'ApiCalendar' implicitly has type 'any' in some locations where its type cannot be determined.ts(7034)

[2020-11-25 20:57] #44 closed

[2020-11-26 09:24] JulesImmerzeel opened #47 "Repeat created event"
The google calendar api gives you the option to repeat events daily weekly etc. I did not see this implementation in you your documentation or did I miss something?

[2020-11-30 00:21] caiquejjx commented on #47
U just need to add the recurrecne property to the event object, like that:
`await ApiCalendar.createEvent({
            summary: formData.description,
            start: { dateTime: payload.start, timeZone: 'America/Sao_Paulo' },
            end: { dateTime: payload.end, timeZone: 'America/Sao_Paulo' },
            recurrence: ['RRULE:FREQ=DAILY;COUNT=3'],
          });`

[2020-12-01 08:01] #47 closed

[2020-12-02 03:01] pedrorossato commented on #46
same here

[2020-12-02 09:44] dugiwarc opened #48 "Listing available calendars"
Hello,
How can I list available calendars in order to be able to pick one with `setCalendar()`?
Best,
George

[2020-12-02 20:24] craigjmidwinter commented on #37
Sorry to bump a closed issue, but I'm using this with gatsby and it seems like no matter where I place my config, it can't resolve it during the build.
[code]

[2020-12-03 13:11] Kubessandra commented on #46
What is your import?

[2020-12-03 13:13] Kubessandra commented on #48
Hello,

The feature is not developed yet.

Aymeric

[2020-12-03 13:25] Hjkun77 commented on #46
The one stated in the README.md for typescript @Kubessandra

[2020-12-03 13:31] Kubessandra commented on #46
If you try adding .ts for the extension of the import does it work?

[2020-12-04 13:29] pedrorossato commented on #46
You mean `import ApiCalendar from 'react-google-calendar-api/src/ApiCalendar.ts';`?
If so, doesn't work...

[2020-12-04 13:32] Hjkun77 commented on #46
Yep adding `.ts` doesn't work as well.

The types any in the dependency is throwing an error.

[2020-12-06 22:38] storrisi opened #49 "Using an arrow function int handleClientLoad() method cause to miss class params"
I've noticed that the `handleClientLoad` method uses an arrow function to init the client.

[code]

This causes that the `this`  attribute used here is related to the arrow function, not the whole class, because of the arrow function behavior.

You can fix it switching to ES5 functions:

[code]

[2020-12-11 10:30] Seibeaaar opened #50 "Min time as parameter passing to method and set by a user"
In listUpcominEvents timeMin param is set to today's date, but what to do when user wants to fetch past events? For that we can pass time param set by user to that method.

[2021-01-06 20:26] diazh opened #51 "Add users to event."
First of all,  this is just great! Thank you so much.

It would be great to have the opportunity to add users (invite them) to events. Im using this to schedule meetings with people.
Thanks in advance.

[2021-01-27 17:55] Kubessandra commented on #51
Thank you.
If I find a little bit of time I will try to implement it.

[2021-01-27 17:57] #35 closed

[2021-02-06 21:07] bateradt opened #52 "Add new features getBasicProfile, get and Delete and improve event createEventFromNow"
Hello everyone, first of all thanks for this library being very useful and helping me a lot.

I need to add new events to this library, I will do a PR with the new features below:

getBasicProfile () - https://developers.google.com/identity/sign-in/web/reference#googleusergetbasicprofile
get () - https://developers.google.com/calendar/v3/reference/events/get
delete () - https://developers.google.c

[2021-02-08 12:55] ryokochang commented on #52
Thank you

if you need any help, im free to help!

[2021-02-09 11:20] bateradt commented on #52
Can you review the PR please?

[2021-02-09 21:20] Kubessandra commented on #52
I will review the PR tomorrow, thank you !

[2021-02-10 00:08] bateradt commented on #52
@Kubessandra Thank you for your time. I fixed the conflicts but the Travis CI given an error:

"/home/travis/.travis/functions: line 109: ./.testEnv.sh: Permission denied
The command "./.testEnv.sh" failed and exited with 126 during ."

[2021-02-10 00:54] ryokochang commented on #52
Check if the file has the same permissions as before

i found this about a error like this:

https://stackoverflow.com/questions/53253207/travis-tests-fail-due-to-permission-denied-on-sh-file-in-docker

[2021-02-10 01:22] bateradt commented on #52
@ryokochang Thank you man, it's works fine using this link:
https://stackoverflow.com/questions/42154912/permission-denied-for-build-sh-file

Tks!

[2021-02-11 17:03] #52 closed

[2021-02-16 01:20] Sockshead opened #55 "problem trying to create meets link and sending mail notification when creating a new event"
Hi,

i'm using the api to manage the creation of events but i'm failing to auto generate a google meets link, also failing to send the invitation to the event to the attendees, is there any way to do so using this api?

i'll attach the method i have written this far trying to solve this issue

[code]

[2021-02-18 16:39] kaiserkaran018 commented on #46
Yes It's not working....

[2021-03-02 15:15] clariceabreu opened #56 "[CustomList] Mehtod to list events using input custom options"
Besides `listUpcomingEvents` it would be nice to have a method `listEvents` that receive the list query options as parameter, enabling custom fetches.
The method could be like that:
[code]

[2021-03-02 15:28] clariceabreu commented on #56
I'm trying to open a PR to solve this issue, but I'm receiving 403 when trying to push the branch (it starts from `development` branch)

[code]

Can you please give me access to contribute?

[2021-03-03 01:42] bateradt commented on #56
Hello @clariceabreu did you make a fork for this repository? I'm thinking that you trying to commit direct in the official repository, try to fallow this article below.

https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/
https://www.digitalocean.com/community/tutorials/como-criar-um-pull-request-no-github-pt

[2021-03-03 01:47] clariceabreu commented on #56
That's true
Sorry that's my first time contributing to a project and I only read the CONTRIBUTING.md file in this project.
I didn't know I had to make a fork
Thanks for the answer!

[2021-03-03 02:19] clariceabreu commented on #56
@bateradt can you review my PR please?
https://github.com/Kubessandra/react-google-calendar-api/pull/57

[2021-03-03 02:31] bateradt commented on #56
I will review tomorrow morning.

[2021-03-04 14:44] Kubessandra commented on #56
The PR is now merge thank you !
The version for the function is 1.3.1.

I will close this issue

[2021-03-04 14:44] #56 closed

[2021-03-05 14:30] ryokochang commented on #45
i create a PR with the code to sendUpdates

[2021-03-08 12:53] ryokochang commented on #45
@Kubessandra can you review my PR?

[2021-03-11 08:45] k8m-git opened #60 "Question：react_google_calendar_api__WEBPACK_IMPORTED_MODULE_8___default.a.getBasicUserProfile is not a function"
Hi,

i want to get email with getBasicProfile but i`m failing to get email

[code]

How i fix?

[2021-03-11 11:44] bateradt commented on #60
Hello,

Try this:

const email = ApiCalendar.getBasicUserProfile().getEmail();
console.log("Email:", email);

Marcelo Fernando Scarpim
Full Stack Developer / Scrum Master
*Github : https://github.com/bateradt <https://github.com/bateradt>*
*Linkedin: https://www.linkedin.com/in/marcelo-fernando-scarpim/
<https://www.linkedin.com/in/marcelo-fernando-scarpim/>*

<https://www.avast.com/sig-email?utm_

[2021-03-12 01:22] k8m-git commented on #60
@bateradt

It works!
Thanks for your help

[2021-03-12 01:22] #60 closed

[2021-03-16 14:38] ryokochang opened #61 "Build parse error"
Eslint error on build/Apicalendar.js

Module parse failed: Unexpected token (199:16)
You may need an appropriate loader to handle this file type.
             return this.gapi.client.calendar.events.list({
                 'calendarId': calendarId,
                 ...queryOptions
             });
         } else {

you solved this issue on src files

[2021-03-16 14:46] ryokochang commented on #61
i already tried remove build folder and all node modules and install, but without success

[2021-03-16 14:46] ryokochang commented on #61
when i install the packages, it comes with build folder

[2021-03-16 14:57] Kubessandra commented on #61
Oh sorry, I thought you were developing on the package not using it.
Is this our eslint or the eslint of the package throwing the error?

[2021-03-16 15:03] ryokochang commented on #61
eslint of the package

[2021-03-16 15:11] ryokochang commented on #61
i can fix this, if you want

[2021-03-16 15:32] Kubessandra commented on #61
There is no eslint in the package.
You need to ignore the node_modules in your eslint config.

[2021-03-16 16:14] ryokochang commented on #61
this occurs when i try to deploy my code... i cant build the project

Creating an optimized production build...
Failed to compile.
./node_modules/react-google-calendar-api/build/ApiCalendar.js
Module parse failed: Unexpected token (199:16)
You may need an appropriate loader to handle this file type.
|             return this.gapi.client.calendar.events.list({
|                 'calendarId': calend

[2021-03-16 16:14] #61 closed

[2021-03-16 16:23] ryokochang commented on #61
my project still dont building

[2021-03-16 17:17] ryokochang commented on #61
14:16 $ yarn run build
yarn run v1.22.5
$ react-app-rewired build
Creating an optimized production build...
Failed to compile.

./node_modules/react-google-calendar-api/build/ApiCalendar.js
Module parse failed: Unexpected token (199:16)
You may need an appropriate loader to handle this file type.
|             return this.gapi.client.calendar.events.list({
|                 'calendarId': calendarI

[2021-03-16 22:24] Kubessandra commented on #61
How do you import the package?

[2021-04-24 17:51] shivamvermadev commented on #28
Both the imports from the example given on npmjs not working

[2021-04-27 19:43] #45 closed

[2021-05-22 23:01] nickakey opened #67 "handleAuthClick should return promise"
Hello!

`this.gapi.auth2.getAuthInstance().signIn()` returns a promise ([Docs here](https://developers.google.com/identity/sign-in/web/reference#googleauthsignin))

and it would be great to have that reflected in the `handleAuthClick` method :)

I can make a quick PR if helpful

[2021-05-25 03:23] tanzyy96 commented on #67
yes this would be awesome. I was looking exactly for this!

[2021-06-02 18:17] Kubessandra commented on #67
Hello, Thank you for the update.
If you have have a quick PR for that it would be perfect.

[2021-12-26 13:17] zohrefarzam opened #73 "ApiCalendar.handleAuthClick() returns undefined"
hello thanks for your great work
i was using this library almost 3 month ago and it worked fine but now when i want to use it i canstantlly get this error
Unhandled Rejection (TypeError): Cannot read properties of undefined (reading 'getAuthInstance')

if anyone can help me that would be great

[2021-12-28 11:42] Kubessandra commented on #73
Hello, could you show me your code ?

[2021-12-28 11:58] #55 closed

[2022-01-06 12:32] geminismille opened #74 "handleAuthClick() returns undefined"
I am using this package to integrate google calendar into one of my project and when I call `ApiCalendar.handleAuthClick()` and try to see the response it gives me undefined.

Here is the code I am doing right now:
`ApiCalendar.handleAuthClick().then((response) => {
     console.log(response);
})`

Seems like it does not send promise as a response if that is the case then how can I get the access

[2022-01-09 10:24] Kubessandra commented on #74
Hello,
I will merge this PR #69 today, before this PR the handleAuthClick does not return a Promise.

[2022-01-09 14:49] Kubessandra commented on #74
The new version is 1.5.0 and you have access to the promise

[2022-01-09 14:49] #74 closed

[2022-01-11 10:51] mauryabip commented on #73
TypeError: undefined is not an object (evaluating 'react_google_calendar_api__WEBPACK_IMPORTED_MODULE_2___default.a.handleAuthClick().then')

Code:

ApiCalendar.handleAuthClick()
      .then(() => {
        console.log('sign in succesful!');
      })
      .catch((e) => {
        console.error(`sign in failed ${e}`);
      })

[2022-01-12 08:46] Kubessandra commented on #73
Hello,
Before the v1.5.0, handleAuthClick was not returning a promise, if you upgrade the package to 1.5.0 does it solve your issue ?
`npm install --save react-google-calendar-api@latest`

[2022-01-14 07:14] mourrrya commented on #73
Hello @Kubessandra ,
Before the v1.5.0, handleAuthClick was not returning a promise,

[2022-01-14 16:46] Kubessandra commented on #73
I will try to check this today, normaly tonight the build will be up and running.

[2022-01-14 17:16] Kubessandra commented on #73
The build for the js file was incorrect I just pushed a new version `v1.5.1` you can try this version normally everything will be good.

[2022-01-18 06:17] mauryabip commented on #73
After v1.5.1

Failed to compile
./components/Main/CalendarsPage/NewCalendar.js:6
Module not found: Can't resolve 'react-google-calendar-api'

[2022-01-18 08:56] Kubessandra commented on #73
Thanks, will look into this tonight.

[2022-01-18 09:06] Kubessandra commented on #73
@mauryabip normally fixed with the v1.5.2, missplacement of the import

[2022-01-30 15:20] #73 closed

[2022-02-03 15:12] echosonusharma opened #75 "Is it safe to add google creds in the frontend."
its unsafe to add all those google creds in the frontend right. i wanted to know how bad it could get if these details gets into someone else's hand.

[2022-02-03 17:26] Kubessandra commented on #75
[code]
If you are speaking about these.
They are not credentials and nothing secret.

[2022-02-03 17:35] echosonusharma commented on #75
anyone can take those values and use them right and its on your google dev account. thanks for the reply ☺

[2022-02-06 15:45] #75 closed

[2022-03-11 00:02] justinyeung opened #77 "Migrate to Google Identity Services"
Google is deprecating a lot of the code used in this library. This code will not be usable for people who are starting new projects and is only usable for one more year for existing projects. I used this link (https://developers.google.com/identity/oauth2/web/guides/migration-to-gis#gis-and-gapi) to migrate my current app over (I don't use your library), and wanted to address this issue here in ca

[2022-03-13 17:45] Kubessandra commented on #77
Thank you, I don't have a lot of time to update the library nowadays, but I will check if I can make the migration.

[2022-03-31 07:27] mado-bohsali opened #78 "HTTP Error Code 401"
Upon signing in, the popup gets closed by itself and displays: "dipframe_initialization_failed"

I am using your latest package version and OAuth credentials generated by a Google console project of mine as well as

script="https://apis.google.com/js/platform?onload=init" async defer

Kindly advise on making authentication smoother.

[2022-03-31 10:23] Kubessandra commented on #78
I think this is not related to the package but more on the setup of your google credentials.

Here is your issue: https://stackoverflow.com/questions/46472945/idpiframe-initialization-failed-in-google-sign-in-from-localhost

[2022-03-31 10:25] #78 closed

[2022-04-20 04:13] ravishwetha commented on #46
<img width="805" alt="Screenshot 2022-04-20 at 12 13 02 PM" src="https://user-images.githubusercontent.com/18163420/164149017-9c70bfed-4db9-4f00-ba22-e12e4909cfc2.png">

This is the compile error received:

Compiled with problems:X

ERROR in node_modules/react-google-calendar-api/src/ApiCalendar.ts:44:24

TS7015: Element implicitly has an 'any' type because index expression is not of type 'number'

[2022-04-22 16:14] rmartin93 opened #79 "Content Security Policy Issue"
Getting this error when the page loads:

`Content Security Policy: The page’s settings blocked the loading of a resource at https://apis.google.com/js/api.js (“script-src”).`

Here are my meta tags in my index.html

[2022-04-23 09:58] Kubessandra commented on #79
Hi does it work without the CSP meta tags ?
This looks like more of a CSP issue than the package, but I can try to help you on that (https://stackoverflow.com/questions/37298608/content-security-policy-the-pages-settings-blocked-the-loading-of-a-resource)

[2022-05-04 14:48] noblessem opened #80 "This lib is not working correct anymore"
My supposed to work 1 month ago, but now, as i understand, method ApiCalendar.handleAuthClick() is not working anymore, what i suppose to do to fix it

[2022-05-04 15:05] noblessem commented on #80
<img width="748" alt="image" src="https://user-images.githubusercontent.com/80826132/166711327-8ac48c11-f37f-46de-a762-652255d99c66.png">

This is the error

[2022-05-04 15:22] Kubessandra commented on #80
It was working before, did you created a new clientID?

Source: https://developers.google.com/identity/sign-in/web/reference

[2022-05-04 15:25] noblessem commented on #80
it was working fine before, i didn`t change anyting in apiGoogleconfig.json

[2022-05-04 15:55] noblessem commented on #80
"API keys are not supported by this API. Expected OAuth2 access token or other authentication credentials that assert a principal. See https://cloud.google.com/docs/authentication" this is the main issues. Can u tell me pls if it is working fine on ur project

[2022-05-18 09:09] noblessem opened #81 "Gapi deprication"
R u planning to change auth method, because from 31 march 2023 gapi is depricated, i am planning to use lib for long term, but if u r not planning to change something pls let me know

[2022-05-18 09:13] Kubessandra commented on #81
Hi,
I'm planning to change the auth method I just still don't know when I will find the time to do it properly.

If you fill like you want to replace gapi and make a PR, I can totally help you on the PR, test it etc.

But yes my goal is to replace GAPI, fix some typescript stuff, the package is a bit old and I havn't done a big clean, so we will have a big clean / breaking changes in a few months.

[2022-05-29 15:55] Kubessandra commented on #81
Here is the commit fixing this: [commit](https://github.com/Kubessandra/react-google-calendar-api/commit/1a28b616da788bde8fa8ad78e43e733233c3b06b)

[2022-05-29 15:55] #81 closed

[2022-05-29 15:55] Kubessandra commented on #80
Hi @noblessem,
This has been fixed [commit](https://github.com/Kubessandra/react-google-calendar-api/commit/1a28b616da788bde8fa8ad78e43e733233c3b06b)

[2022-05-29 15:55] #80 closed

[2022-05-29 15:56] Kubessandra commented on #77
Hi @justinyeung,
This has been fixed [commit](https://github.com/Kubessandra/react-google-calendar-api/commit/1a28b616da788bde8fa8ad78e43e733233c3b06b)

This include a lot of changes if you have any feedbacks / questions do not hesitate

[2022-05-29 15:56] #77 closed

[2022-05-29 15:59] Kubessandra commented on #46
Hi,
This has been fixed [commit](https://github.com/Kubessandra/react-google-calendar-api/commit/1a28b616da788bde8fa8ad78e43e733233c3b06b) version [> 2.0.x]

This include a lot of changes if you have any feedbacks / questions do not hesitate

[2022-05-29 15:59] #46 closed

[2022-05-29 16:03] Kubessandra commented on #50
Hi @Seibeaaar,
For that you can use the `listEvents` method [here](https://github.com/Kubessandra/react-google-calendar-api/blob/master/src/ApiCalendar.ts#L172)

[2022-05-29 16:03] #50 closed

[2022-06-15 14:43] mmubasher opened #84 "ReferenceError: Can't find variable: document"
I am using react-google-calendar-api@2.0.3 and getting error `ReferenceError: Can't find variable: document` on iPhone 8 simulator. However, it works fine on web browser using `npm run web` to execute `expo start --web` command on my system

### Error
[code]

### Environment Information

[code]

[code]

[code]

[2022-06-16 09:38] Kubessandra commented on #84
The library is not compatible on React Native

[2022-06-16 10:36] mmubasher commented on #84
@Kubessandra thanks for getting back on this. Any suggestions on how to proceed for Native?
I am closing this issue since it is not related to this repo.

[2022-06-16 10:36] #84 closed

[2022-06-16 10:46] Kubessandra commented on #84
You will need to manage all the OAuth part with expo or in React Native, and after that use the API of Google calendar.

[2022-06-16 11:27] mmubasher commented on #84
Thanks for your valuable feedback. I was also of the similar view on this

[2022-06-20 06:19] aniketkambli opened #85 "User needs to login after page refresh in order to add event"
The example is working fine but when i refresh the page, the google's session is not stored in browser and hence the user has to login again and provide consent before adding an event or else it throws error

[2022-06-20 06:21] aniketkambli commented on #85
Also how to create events with custom start/end time and start/end date

[2022-06-20 08:00] Kubessandra commented on #85
[code]

With this method you can use a start and end dateTime.

For the login issue, this was introduced with the new API of google where they do not manage the session state anymore.
I havn't found the time to find a solution yet.

[2022-06-20 08:41] aniketkambli commented on #85
okay cool, let me know once you find a workaround for session persistence. Other than that great work on the package 👍

[2022-07-01 18:44] MatiasZelayaDept commented on #85
Hi ! Any news about this issue? I have the same problem

[2022-07-05 09:07] udaniketk commented on #85
Nah, still stuck on the same problem. Let me know if you find a workaround

[2022-07-05 09:14] Kubessandra commented on #85
I havn't found the time to find a workaround with google yet..

[2022-07-06 08:04] M1ck0 opened #86 "handleAuthClick() always returns undefined"
In docs, it says that `handleAuthClick()` returns a promise, but it does not. I need this so that after the user approves permission for the calendar, I can load all the events. Without it, I can't know if permission is granted or not.

[2022-07-06 15:53] MatiasZelayaDept opened #87 "Get token and refresh token"
Hi ! Is any way to get the token and refresh token ? i dont see any method or variable to do it

[2022-07-06 19:57] MatiasZelayaDept commented on #85
Maybe you can made a method to return the token and the refresh token and the user can handle that outside the library

[2022-07-07 08:04] Kubessandra commented on #85
You already have access to it by using `apiCalendar.tokenClient`

https://developers.google.com/identity/oauth2/web/guides/use-token-model

[2022-07-07 08:05] Kubessandra commented on #87
I think you can access it by using `apiCalendar.tokenClient`

https://developers.google.com/identity/oauth2/web/guides/use-token-model

[2022-07-07 12:03] MatiasZelayaDept commented on #87
We dont have the token or refresh token there, i saw that the token we can get with `gapi.client.getToken()` but that is inside your code, if you can made a method to retrieve that it will be great, and the refresh token i didnt found how to get it

[2022-07-15 10:20] Kubessandra commented on #87
You can do no ?
`apiCalendar.tokenClient.requestAccessToken({ prompt: 'consent' });`

[2022-07-19 13:59] noblessem commented on #86
Hey bro, how u resolved this issues,cause if i getting it right handleAuthClick is not a promise anymore and i cant await for it

[2022-07-19 14:16] Kubessandra commented on #86
If I'm not wrong, `handleAuthClick()` is now synchrone, so you don't have the need to await it anymore, if not we can't make a PR to make it as a promise and return.

[2022-07-19 14:21] M1ck0 commented on #86
No I did not. I decided to use Google's API for this task as I needed some features that this package did not have.

I need to await it but it does not return anything. I also tried without `await`, still nothing.

[2022-07-19 14:31] noblessem commented on #86
I understand, but i have a case, when i click on "Create Event", but while user trying to choose his account, other method createEvent trying to work and it is faileng cause it is no gapi, if i am getting it right. So i think it will be better to return smth in case, while user choose his account and then call other methods

|

[2022-07-20 10:44] noblessem commented on #86
i am trying to modify somehow handleAuth method, but it is not seems to work properly

[2022-07-21 10:22] noblessem opened #89 "handleAuthClick not returning any Promise"
handleAuthClick doesnt return any promise, so it is imposible to use it with other methods in lib

[2022-11-05 17:10] tommasini opened #91 "Add conferenceData to create event"
Awesome work!!
Writting here the suggestion to improve with add conferenceData field to createEvent method https://developers.google.com/calendar/api/guides/create-events#conferencing
https://developers.google.com/calendar/api/v3/reference/events/insert

Notice that exist a [PR](https://github.com/Kubessandra/react-google-calendar-api/pull/70) but it's from 2021

[2022-11-05 17:14] tommasini commented on #91
Closing this issue, found a work around thanks!

[2022-11-05 17:14] #91 closed

[2022-11-05 19:45] Kubessandra commented on #91
Awesome
If you can post your workaround here so if someone need it it will be easy

[2022-11-06 02:37] tommasini commented on #91
Still trying 💪🏼

[2022-11-06 18:08] Kubessandra commented on #91
Oh, maybe we can update the PR to make it work ?